---
import Layout from "../layouts/Layout.astro";
---

<Layout title="WAX RAM Free">
  <main>
    <h1>WAX RAM <span class="text-gradient">Free</span></h1>
    <div class="instructions">
      <p>Recovering WAX RAM is a two step process:</p>
      <ol>
        <li>Login to your WAX Wallet using Anchor, Cloud Wallet or Wombat.</li>
        <li>Review the open offers, and click <code>Free My RAM</code>!</li>
      </ol>
      <p>
        <strong>Important:</strong> Clicking <code>Free My RAM</code> will cancel
        all pending offers from supported services (i.e. Warsaken) older than 1 hour,
        this action is irreversable.
      </p>
    </div>

    <div class="content state-start">
      <div class="center">
        <button class="connect">Connect Wallet</button>
      </div>
    </div>

    <div class="content state-nothingTodo hidden center">
      <h2>No <span class="text-gradient">Free</span> RAM for you</h2>
      <p>
        It looks like you have done everything possible to free your RAM, good
        job.
        <img
          src="https://media1.tenor.com/m/XQLVLptLIBEAAAAd/maes-b-lost-in-a-field.gif"
        />
      </p>
    </div>

    <div class="content state-loading center hidden">
      <h2 class="animated">Loading...</h2>
    </div>

    <div class="content state-freeRam hidden">
      <h2><span class="text-gradient">free</span> your RAM!</h2>
      <p>
        Found <span id="countOffers" class="text-gradient">x</span> offers to remove,
        that's approximately <span id="estRam" class="text-gradient">xxx</span> RAM
        you can recover:
      </p>
      <div class="center">
        <button class="freeRamButton">Free My RAM</button>
      </div>
      <ul id="offers">
        <li>
          <a
            href="https://wax.atomichub.io/trading/trade-offer/wax-mainnet/167425050"
            class="offer-link">167425050</a
          >: scetrovplays → warsaken (Open Pack)
        </li>
      </ul>
      <p>
        You can open each offer on Atomic Hub and cancel it by hand, or you can
        click the button below to cancel all the offers; if required it will be
        broken into batches to reduce the chance of transactions failing.
      </p>
      <div class="center">
        <button class="freeRamButton">Free My RAM</button>
      </div>
    </div>

    <div class="content state-broadcast hidden">
      <h2>Setting RAM <span class="text-gradient">free</span></h2>
      <p>Freeing RAM:</p>
      <ul id="transactions"></ul>
    </div>

    <div class="content state-error hidden">
      <h2><span class="text-gradient">Error</span>, Sadge</h2>
      <p>Whoops something went wrong</p>
      <code id="errors"></code>
    </div>

    <script src="../scripts/free-ram.ts"></script>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1em;
    text-transform: uppercase;
    text-align: center;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    text-transform: uppercase;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  button {
    padding: 0.75em;
    font-size: large;
    background-image: var(--accent-gradient);
    background-size: 400%;
    background-position: 0%;
    color: var(--accent-light);
    border-radius: 7px;
    background-position: 0%;
    transition:
      background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1),
      color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  button:is(:hover, :focus-within) {
    background-position: 20%;
    color: rgb(var(--accent-dark));
    box-shadow: 0px 0px 5px 5px rgb(var(--accent-dark));
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .hidden {
    display: none;
  }
  img {
    padding: 1em;
  }
  .center {
    width: 100%;
    text-align: center;
  }
  #countOffers,
  #estRam {
    font-weight: 700;
  }
  h2.animated {
    background: radial-gradient(
      circle at 100%,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 50%,
      #fff 75%,
      rgb(var(--accent)) 75%
    );
    font-weight: 600;
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animatedTextGradient 1.5s linear infinite reverse;
  }

  @keyframes animatedTextGradient {
    to {
      background-position: 200% center;
    }
  }

  :global(a.offer-link),
  :global(a.transaction-link) {
    color: rgb(var(--accent-light));
  }
</style>
